@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

//Colors SCSS
:root {
    --color-primary             : #44137C; //original #89455e
    --color-secondary           : #FEBF00; //original #161618
}

$primary        : var(--color-primary);
$secondary      : var(--color-secondary);

// Default
$purple        : $primary;
$yellow        : $secondary;
$white         : #fff;
$blue          : #0020FF;
$yellow        : #FEBF00;
$grey          : #666666;
$black         : #333333;
$pureblack     : #000;
$red           : #ED174C;

// Font Famlily & Sizes
$inter: 'Inter', sans-serif;
$sans: 'DM Sans', sans-serif;
$web: 'Titillium Web', sans-serif;

$primary-family: $inter;
$secondary-family: $sans;

@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

$primary-fs: 16px;
$secondary-fs: 14px;

$h1-font-size: toRem(32);
$h2-font-size: toRem(24);
$h3-font-size: toRem(20);
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

// Media Quries
$breakpoint-xl: "only screen and (min-width: 1200px) and (max-width:1440px)";
$breakpoint-lg: "only screen and (min-width:992px) and (max-width:1199px)";
$breakpoint-lg-only: "only screen and (min-width:1200px)";
$breakpoint-lg-max: "only screen and (max-width:1199px)";
$breakpoint-md: "only screen and (min-width:768px) and (max-width:991px)";
$breakpoint-sm: "only screen and (min-width:576px) and (max-width:767px)";
$breakpoint-sm-only: "only screen and (max-width:991px)";
$breakpoint-xs: "only screen and (max-width:767px)";
$breakpoint-xxs: "only screen and (max-width: 375px)";
$breakpoint-xs-575: "only screen and (max-width: 575px)";
$breakpoint-above-xs: "only screen and (min-width: 767px)";
